/* fonts files */
.base-text {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
}
.base-text-italic {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.base-text-bold {
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}
.shop-item {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
/*colors*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  transition: all 1s;
  background: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
input {
  border: none;
  background: transparent;
}
button:focus,
input:focus {
  outline: none;
}
button:hover,
input:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.header {
  position: relative;
  color: #fff;
  background: #f4f7f9;
}
.header-top {
  background: #33445a;
}
.header-top__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 960px;
}
.header-top a {
  color: #fff;
}
.search {
  line-height: 40px;
  padding: 0 5px;
}
.search__field {
  padding-left: 50px;
  max-width: 200px;
  font-size: 17px;
  color: #fff;
  background: url("../img/icons/search-icon.png") no-repeat left center;
}
.search:hover,
.search:active {
  background-color: #212a3a;
}
.order__list {
  display: flex;
}
.order__item {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 20px;
  padding: 10px 20px 10px 50px;
}
.order__item:hover {
  background: #212a3a;
}
.order__item:active {
  background: #161d29;
}
.order__item:before {
  position: absolute;
  display: block;
  content: '';
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
}
.order__item--bookmark:before {
  background: url("../img/icons/bookmark-icon.png") no-repeat center center;
}
.order__item--cart:before {
  background: url("../img/icons/cart-icon.png") no-repeat center center;
}
.order__item--arrange {
  background: #6db254;
}
.order__item--arrange:hover {
  background: #5fbb2d;
}
.order__item--arrange:active {
  background: #518534;
}
.order__item:last-child {
  padding: 10px 20px;
}
@media (max-width: 900px) {
  .header-top__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .search {
    margin: 20px 0 10px 0;
  }
  .search__field,
  .order__item {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .order__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.logo {
  display: block;
  max-width: 220px;
  max-height: 50px;
  padding: 0 50px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin-bottom: -4px;
  background: #ff5357;
  border-bottom: 4px solid #b90004;
}
.logo:hover {
  background: #ca2c37;
}
.logo:active {
  background: #ba2732;
}
.shop-info__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 10px 40px 10px;
  max-width: 960px;
}
.shop__description {
  max-width: 250px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 25px;
  color: #ff5357;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.shop__description p {
  margin: 0;
}
.shop__phone {
  position: relative;
  display: block;
  max-width: 270px;
  padding: 6px 45px 6px 70px;
  color: #ff5357;
  font-size: 21px;
  border: 3px solid #fff;
}
.shop__phone:before {
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  left: 10px;
  background: url("../img/icons/phone-icon.png") no-repeat center center;
}
.shop__address {
  display: block;
  text-align: center;
  color: #33445a;
}
.login {
  position: relative;
  display: block;
  float: left;
  padding: 12px 20px 12px 40px;
  margin-right: 20px;
  font-size: 21px;
  background: #fff;
}
.login:before {
  position: absolute;
  display: block;
  content: '';
  left: 10px;
  width: 25px;
  height: 23px;
  background: url("../img/icons/login-icon.png") no-repeat center center;
}
.registration {
  display: block;
  float: right;
  padding: 12px 20px 12px 20px;
  font-size: 21px;
  background: #fff;
}
.login:hover,
.registration:hover {
  color: #ff5357;
}
.login:active,
.registration:active {
  color: #333333;
}
@media (max-width: 900px) {
  .shop__description {
    padding-left: 10px;
    font-size: 14px;
  }
  .shop__contacts {
    margin: 0 10px;
  }
  .shop__phone {
    font-size: 16px;
    margin: 0 auto;
  }
  .shop__phone:before {
    bottom: 3px;
  }
  .shop__login {
    margin: 0 auto;
  }
  .login,
  .registration {
    font-size: 14px;
  }
  .shop-info__wrapper {
    padding: 30px 10px 20px 10px;
  }
}
@media (max-width: 530px) {
  .shop-info__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .shop__description {
    max-width: none;
    padding: 10px;
    text-align: center;
  }
}
.main-nav {
  padding-bottom: 60px;
}
.main-nav__wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 960px;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #3d546e;
  border-bottom: 4px solid #2b3b4d;
}
.main-nav__item {
  display: block;
  flex-grow: 1;
  padding: 20px 5px;
  text-align: center;
}
.main-nav__item:hover {
  background: #293449;
}
.main-nav__item:active {
  background: #1d2739;
}
.main-nav__item a {
  font-size: 17px;
  color: #fff;
}
@media (max-width: 640px) {
  .main-nav {
    display: none;
    position: absolute;
  }
}
.mobile-nav {
  position: relative;
  display: none;
  width: 100%;
}
.mobile-nav__close {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.mobile-nav__close:before,
.mobile-nav__close:after {
  position: absolute;
  content: '';
  right: 15px;
  top: 25px;
  width: 25px;
  height: 5px;
  background: #f4f7f9;
}
.mobile-nav__close:before {
  transform: rotate(45deg);
}
.mobile-nav__close:after {
  transform: rotate(-45deg);
}
.mobile-nav__list {
  background: #3d546e;
}
.mobile-nav__item {
  display: block;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #2b3b4d;
  border-top: 1px solid #87a0bd;
}
.mobile-nav__item:hover {
  background: #293449;
}
.mobile-nav__item:active {
  background: #1d2739;
}
.mobile-nav__item a {
  font-size: 14px;
  color: #fff;
}
.mobile-nav__item:first-child {
  margin-top: 10px;
}
.mobile__open-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.mobile__open-nav:before {
  position: absolute;
  content: '';
  right: 20px;
  top: 17px;
  width: 23px;
  height: 4px;
  background: #f4f7f9;
  box-shadow: 0 4px 0 transparent, 0 8px 0 #f4f7f9, 0 12px 0 transparent, 0 16px 0 #f4f7f9;
}
.mobile-nav--closed .mobile-nav__close {
  display: none;
}
.mobile-nav--closed .mobile-nav__item {
  display: none;
  position: absolute;
}
@media (max-width: 640px) {
  .mobile-nav,
  .mobile__open-nav {
    display: block;
  }
}
.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 50px 10px 30px 10px;
  max-width: 960px;
}
.promo__item {
  position: relative;
  padding: 22px 20px;
  padding-right: 145px;
  margin-bottom: 20px;
  color: #fff;
}
.promo__item:before {
  position: absolute;
  content: '';
  display: block;
  right: 30px;
  width: 80px;
  height: 70px;
}
.promo__item--materials {
  background: #ffbf47;
}
.promo__item--materials:before {
  background: url("../img/icons/materials-icon.png") no-repeat center center;
}
.promo__item--tools {
  background: #3bbce3;
}
.promo__item--tools:before {
  background: url("../img/icons/tools-icon.png") no-repeat center center;
}
.promo__item--technics {
  background: #dc91d8;
}
.promo__item--technics:before {
  background: url("../img/icons/technic-icon.png") no-repeat center center;
}
.promo__item--sale {
  background: #8ed78f;
}
.promo__item--sale:before {
  background: url("../img/icons/sale-icon.png") no-repeat center center;
}
.promo__item--free-shipping {
  background: #ffc047;
}
.promo__item--free-shipping:before {
  background: url("../img/icons/free-shipping-icon.png") no-repeat center center;
}
.promo__title {
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}
.promo__link {
  display: block;
  width: 135px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.promo__link:hover {
  background: rgba(0, 0, 0, 0.2);
}
.promo__link:active {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 930px) {
  .promo__wrapper {
    justify-content: space-around;
    padding: 30px 10px 15px 10px;
  }
}
@media (max-width: 650px) {
  .promo__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  __link {
    width: 135px;
    padding: 5px 10px;
  }
}
.promo-slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}
.promo-slider input {
  position: absolute;
  opacity: 0;
}
.promo-slider__controls {
  position: absolute;
  text-align: center;
  z-index: 8;
  width: 48px;
  height: 10px;
  right: 50%;
  bottom: 40px;
  margin-left: -24px;
}
.promo-slider__controls label {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 6px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
}
.promo-slider__item-first {
  background: url("../img/promo-slider-1.jpg") no-repeat center center;
}
.promo-slider__item-second {
  background: url("../img/promo-slider-2.jpg") no-repeat center center;
}
.promo-slider__item {
  display: none;
  width: 620px;
  height: 268px;
  padding: 25px;
  color: #fff;
}
.promo-slider__title {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.promo-slider__description {
  margin: 0;
  font-size: 18px;
}
.promo-slider__link {
  position: absolute;
  display: block;
  left: 25px;
  bottom: 25px;
  padding: 10px 25px;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
}
.promo-slider__link:hover {
  background: #ca2c37;
}
.promo-slider__link:active {
  background: #ba2732;
}
.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  width: 23px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
}
.btn-prev {
  left: 20px;
  background: url("../img/icons/btn-left.png") no-repeat center center;
}
.btn-next {
  right: 20px;
  background: url("../img/icons/btn-right.png") no-repeat center center;
}
#promo-slider__btn-1:checked ~ .promo-slider__list #slide1,
#promo-slider__btn-2:checked ~ .promo-slider__list #slide2 {
  display: block;
}
#promo-slider__btn-1:checked ~ .promo-slider__controls label[for="promo-slider__btn-1"],
#promo-slider__btn-2:checked ~ .promo-slider__controls label[for="promo-slider__btn-2"] {
  background: #ee3643;
}
@media (max-width: 650px) {
  .promo-slider {
    width: 100%;
  }
  .promo-slider__item {
    width: 100%;
    padding: 10px;
  }
  .promo-slider__title {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .promo-slider__description {
    font-size: 16px;
  }
  .promo-slider__link {
    padding: 5px 15px;
    margin-left: -90px;
    left: 50%;
    bottom: 60px;
  }
}
.popular__wrapper {
  margin: 0 auto;
  padding: 0 10px 20px 10px;
  max-width: 960px;
}
.popular__header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 20px;
  background: #f9f5f0;
}
.popular__title {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #3d546f;
  text-transform: uppercase;
}
.popular__link {
  display: block;
  padding: 10px 30px;
  color: #fff;
  background: #ff5357;
  border-radius: 3px;
  text-transform: uppercase;
}
.popular__link:hover {
  background: #ca2c37;
}
.popular__link:active {
  background: #ba2732;
}
.popular-goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-brands__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  height: 125px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
}
.popular-brands__item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.popular-brands__item:active {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 0.4;
}
@media (max-width: 940px) {
  .popular__header {
    padding: 15px;
  }
  .popular__title {
    font-size: 20px;
    line-height: 27px;
  }
  .popular__link {
    padding: 5px 15px;
  }
  .popular-goods__list {
    justify-content: space-around;
  }
  .popular-brands__list {
    justify-content: space-around;
  }
}
@media (max-width: 460px) {
  .popular__header {
    justify-content: center;
    flex-direction: column;
  }
  .popular__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .popular__link {
    margin: 0 auto;
  }
}
.catalog-item {
  position: relative;
  max-width: 220px;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border: 1px solid #eaeaea;
}
.catalog-item__img {
  display: block;
  height: 164px;
}
.catalog-item__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.catalog-item__price {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  color: #a9a9a9;
  height: 20px;
  text-transform: uppercase;
  text-decoration: line-through;
}
.catalog-item__new-price {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px 35px;
  background: #ff5357;
  border-radius: 3px;
}
.catalog-item__new-price:after {
  position: absolute;
  content: '';
  top: 0;
  right: -20px;
  border: 21px solid #fff;
  border-left: 21px solid #ff5357;
}
.catalog-item__action {
  display: none;
  position: absolute;
  width: 100%;
  height: 164px;
  padding: 40px;
  top: 0;
  left: 0;
  background: #fff;
}
.catalog-item__buy {
  display: block;
  position: relative;
  max-width: 135px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background: #63a63e;
  border-bottom: 3px solid #375c22;
}
.catalog-item__buy:before {
  position: absolute;
  display: block;
  content: '';
  top: 11px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/cart-icon.png") no-repeat center center;
}
.catalog-item__buy:hover {
  background: #5fbb2d;
}
.catalog-item__buy:active {
  background: #518534;
  border-bottom: 3px solid #518534;
}
.catalog-item__bookmark {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background: transparent;
  border: 3px solid #63a63e;
}
.catalog-item__bookmark:hover {
  border: 3px solid #32425c;
}
.catalog-item__bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}
.item-new:after {
  position: absolute;
  content: '';
  display: block;
  width: 59px;
  height: 59px;
  top: 0;
  right: 0;
  background: url("../img/icons/new-icon.png") no-repeat center center;
}
.catalog-item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.catalog-item:hover .catalog-item__action {
  display: block;
}
@media (max-width: 630px) {
  .catalog-item,
  .catalog-item__title {
    font-size: 14px;
  }
  .catalog-item__new-price:after {
    border: 19px solid #fff;
    border-left: 19px solid #ff5357;
  }
}
.services {
  background: #f4f8fa;
}
.services__wrapper {
  margin: 0 auto;
  padding: 50px 10px;
  max-width: 960px;
}
.services__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.services__description {
  margin-bottom: 50px;
}
.services__tab {
  display: flex;
}
.services input {
  position: absolute;
  opacity: 0;
}
.services-tab__nav-list {
  padding: 20px 0;
  display: flex;
  position: relative;
  flex-direction: column;
}
.services-tab__nav-list:after {
  position: absolute;
  content: '';
  display: block;
  height: 272px;
  width: 10px;
  top: -20px;
  right: 0;
  background: url("../img/icons/services-shadow.png") no-repeat center center;
}
.services-tab__nav-item {
  display: block;
  padding: 20px;
  width: 240px;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-align: left;
  background: #3d546e;
  border: 1px solid #19222c;
  border-top: 1px solid #4f6d8f;
}
.services-tab__nav-item:hover {
  border: 1px solid #293449;
  background: #293449;
}
.services-tab__nav-item:active {
  color: #3d546e;
  border: 1px solid #fff;
  background: #fff;
}
.services-tab__item {
  position: relative;
  display: none;
  padding: 20px;
  padding-left: 70px;
}
.services-tab__item:before {
  position: absolute;
  display: block;
  content: '';
  top: 20px;
  left: 180px;
  width: 470px;
  height: 248px;
}
.services-tab__item--delivery:before {
  background: url("../img/icons/car-icon.png") no-repeat center center;
}
.services-tab__item--garantee:before {
  background: url("../img/icons/guaranty-icon.png") no-repeat center center;
}
.services-tab__item--credit:before {
  background: url("../img/icons/credit-icon.png") no-repeat center center;
}
.services-tab__title {
  color: #3d546e;
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.services-tab__description {
  line-height: 20px;
  margin-bottom: 30px;
}
.services-tab__btn {
  display: block;
  color: #fff;
  text-align: center;
  max-width: 195px;
  padding: 10px;
  background: #ff5357;
  border-radius: 3px;
  text-transform: uppercase;
}
.services-tab__btn:hover {
  background: #ca2c37;
}
.services-tab__btn:active {
  background: #ba2732;
}
#services__btn-1:checked ~ .services-tab__list #services-tab__item--delivery,
#services__btn-2:checked ~ .services-tab__list #services-tab__item--garantee,
#services__btn-3:checked ~ .services-tab__list #services-tab__item--credit {
  display: block;
}
#services__btn-1:checked ~ .services-tab__nav-list label[for="services__btn-1"],
#services__btn-2:checked ~ .services-tab__nav-list label[for="services__btn-2"],
#services__btn-3:checked ~ .services-tab__nav-list label[for="services__btn-3"] {
  color: #3d546e;
  border: 1px solid #fff;
  background: #fff;
}
@media (max-width: 910px) {
  .services__wrapper {
    padding: 20px 10px;
  }
  .services__tab {
    flex-direction: column;
    justify-content: center;
  }
  .services__title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .services__description {
    margin-bottom: 0;
    text-align: center;
  }
  .services-tab__nav-list {
    flex-direction: row;
    justify-content: center;
  }
  .services-tab__nav-list:after {
    display: none;
  }
  .services-tab__nav-item {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  .services-tab__list {
    margin: 0 auto;
  }
  .services-tab__item {
    padding: 0;
    text-align: center;
  }
  .services-tab__item br {
    display: none;
  }
  .services-tab__item:before {
    display: none;
  }
  .services-tab__title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .services-tab__description {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .services-tab__btn {
    margin: 0 auto;
    padding: 5px 15px;
  }
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 10px;
}
@media (max-width: 840px) {
  .about__wrapper {
    flex-direction: column;
    padding: 20px 10px;
  }
}
.company {
  max-width: 540px;
}
.company__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.company__description {
  margin: 0;
  margin-bottom: 25px;
  line-height: 20px;
}
.company__list {
  margin-bottom: 30px;
}
.company__item {
  display: block;
  position: relative;
  font-size: 18px;
  padding-left: 35px;
  margin-bottom: 15px;
}
.company__item:before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background: #ff5357;
}
.company__btn {
  display: block;
  width: 220px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: #ff5357;
  border-radius: 3px;
  text-transform: uppercase;
}
.company__btn:hover {
  background: #ca2c37;
}
.company__btn:active {
  background: #ba2732;
}
@media (max-width: 840px) {
  .company {
    max-width: none;
    text-align: center;
  }
  .company__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .company__description {
    margin-bottom: 10px;
  }
  .company__list {
    margin-bottom: 10px;
  }
  .company__item {
    padding: 0;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .company__item:before {
    display: none;
  }
  .company__btn {
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.contacts {
  max-width: 300px;
}
.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
.contacts__description {
  margin: 0;
  margin-bottom: 25px;
  line-height: 20px;
}
.contacts__map {
  height: 160px;
  margin-bottom: 30px;
}
.contacts__btn {
  display: block;
  width: 300px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: #ff5357;
  border-radius: 3px;
  text-transform: uppercase;
}
.contacts__btn:hover {
  background: #ca2c37;
}
.contacts__btn:active {
  background: #ba2732;
}
@media (max-width: 840px) {
  .contacts {
    max-width: none;
    text-align: center;
  }
  .contacts__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contacts__description {
    margin-bottom: 10px;
  }
  .contacts__btn {
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.footer {
  background: #3d546e;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  color: #fff;
}
.footer__address {
  margin-bottom: 0;
}
.footer .logo {
  margin-bottom: 30px;
}
@media (max-width: 840px) {
  .footer__wrapper {
    justify-content: center;
    max-width: none;
    text-align: center;
  }
  .footer .logo {
    margin: 0 auto;
  }
}
.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
}
.footer-nav__item {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 20px 25px;
}
.footer-nav__item a {
  color: #fff;
}
.footer-nav__item:hover a {
  color: #ffda96;
}
.footer-nav__item:active a {
  color: #a6906e;
}
@media (max-width: 580px) {
  .footer-nav__list {
    display: none;
  }
}
.coppyright {
  padding: 5px;
  color: #fff;
  text-align: center;
  background: #33445a;
}
