@import "variables.less";

body {
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .opn-reg;
  font-size: 14px;
  text-transform: uppercase;

  background-color: @body-bg;
}
