/* fonts files */
.base-text {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
}

.base-text-italic {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.base-text-bold {
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}

.shop-item {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

/*colors*/
@base-bg: #f4f7f9;
@nav-bg: #3d546e;
@header-top-bg: #33445a;
@logo-bg: #ff5357;
@btn-bg: #ff5357;
@title-bg: #f9f5f0;
@title-color: #3d546f;
@base-text: #000;
@header-text: #fff;
@arrange-bg: #6db254;
@main-nav-bg: #3d546e;
@materials-bg: #ffbf47;
@tools-bg: #3bbce3;
@technic-bg: #dc91d8;
@sale-bg: #8ed78f;
@free-shipping-bg: #ffc047;
@popular-bg: #f9f5f0;
@services-bg: #f4f8fa;
@footer-bg: #3d546e;
@coppyright-bg: #33445a;
@catalog-btn: #63a63e;
@logo-bg-hover: #ca2c37;
@logo-bg-active: #ba2732;
@header-top-bg-hover: #212a3a;
@header-top-bg-active: #161d29;
@arrange-bg-hover: #5fbb2d;
@arrange-bg-active: #518534;
@nav-bg-hover: #293449;
@nav-bg-active: #1d2739;
@btn-bg-hover: #ca2c37;
@btn-bg-active: #ba2732;
@catalog-btn-hover: #5fbb2d;
@catalog-btn-active: #518534;
@catalog-btn-bookmark-hover: #32425c;
@catalog-btn-bookmark-active: #c1c6ce;
@promo-text: #fff;
@footer-nav-hover: #ffda96;
@footer-nav-active: #a6906e;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@mobile-width-only: ~"(max-width: 767px)";
@tablet-width-only: ~"(min-width: 768px) and (max-width: 1199px)";