.header {
  color: @header-text;
  background: @base-bg;
  padding-bottom: 60px;
}

.header-top {
  background: @header-top-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
  }

  a {
    color: @header-text;
  }
}

.search {

  &__field {
    padding-left: 40px;
    max-width: 200px;
    font-size: 17px;
    color: @header-text;
    background: url("../img/icons/search-icon.png") no-repeat left center;
  }
}

.order {

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 20px;
    padding: 10px 20px 10px 50px;
  }

  &__item:before {
    position: absolute;
    display: block;
    content: '';
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
  }

  &__item--bookmark:before {
    background: url("../img/icons/bookmark-icon.png") no-repeat center center;
  }

  &__item--cart:before {
    background: url("../img/icons/cart-icon.png") no-repeat center center;
  }

  &__item--arrange {
    background: @arrange-bg;
  }

  &__item:last-child {
    padding: 10px 20px;
  }
}