.popular {

  &__wrapper {
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    max-width: 960px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 20px;
    background: @popular-bg;
  }

  &__title {
    margin: 0;
    .base-text;
    font-size: 30px;
    color: @title-color;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding: 10px 30px;
    color: #fff;
    background: @btn-bg;
    border-radius: 3px;
    text-transform: uppercase;
  }
}

.popular-goods {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.popular-brands {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 125px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
  }
}

@media (max-width: 940px) {

  .popular {

    &__header {
      padding: 15px;
    }

    &__title {
      font-size: 20px;
      line-height: 27px;
    }

    &__link {
      padding: 5px 15px;
    }
  }

  .popular-goods {

    &__list {
      justify-content: space-around;
    }
  }

  .popular-brands {

    &__list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 460px) {

  .popular {

    &__header {
      justify-content: center;
      flex-direction: column;
    }

    &__title {
      text-align: center;
      margin-bottom: 10px;
    }

    &__link {
      margin: 0 auto;
    }
  }
}