.services {
  background: @services-bg;

  &__wrapper {
    margin: 0 auto;
    padding: 50px 10px;
    max-width: 960px;
  }

  &__title {
    .shop-item;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 50px;
  }

  &__tab {
    display: flex;
  }

  input {
    position: absolute;
    opacity: 0;
  }
}

.services-tab {

  &__nav-list {
    padding: 20px 0;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &__nav-list:after {
    position: absolute;
    content: '';
    display: block;
    height: 272px;
    width: 10px;
    top: -20px;
    right: 0;
    background: url("../img/icons/services-shadow.png") no-repeat center center;
  }

  &__nav-item {
    display: block;
    padding: 20px;
    width: 240px;
    color: #fff;
    .base-text-bold;
    font-size: 21px;
    text-align: left;
    background: @nav-bg;
    border: 1px solid darken(@nav-bg, 20%);
    border-top: 1px solid lighten(@nav-bg, 10%);
  }

  &__nav-item:active {
    color: @nav-bg;
    border: 1px solid #fff;
    background: #fff;
  }

  &__item {
    position: relative;
    display: none;
    padding: 20px;
    padding-left: 70px;
  }

  &__item:before {
    position: absolute;
    display: block;
    content: '';
    top: 20px;
    left: 180px;
    width: 470px;
    height: 248px;
  }

  &__item--delivery:before {
    background: url("../img/icons/car-icon.png") no-repeat center center;
  }

  &__item--garantee:before {
    background: url("../img/icons/guaranty-icon.png") no-repeat center center;
  }

  &__item--credit:before {
    background: url("../img/icons/credit-icon.png") no-repeat center center;
  }

  &__title {
    color: @nav-bg;
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__description {
    line-height: 20px;
    margin-bottom: 30px;
  }

  &__btn {
    display: block;
    color: #fff;
    text-align: center;
    max-width: 195px;
    padding: 10px;
    background: @btn-bg;
    border-radius: 3px;
    text-transform: uppercase;
  }
}

#services__btn-1:checked ~ .services-tab__list #services-tab__item--delivery,
#services__btn-2:checked ~ .services-tab__list #services-tab__item--garantee,
#services__btn-3:checked ~ .services-tab__list #services-tab__item--credit {
  display: block;
}

#services__btn-1:checked ~ .services-tab__nav-list label[for="services__btn-1"],
#services__btn-2:checked ~ .services-tab__nav-list label[for="services__btn-2"],
#services__btn-3:checked ~ .services-tab__nav-list label[for="services__btn-3"] {
  color: @nav-bg;
  border: 1px solid #fff;
  background: #fff;
}

@media (max-width: 910px) {

  .services {

    &__wrapper {
      padding: 20px 10px;
    }

    &__tab {
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
    }

    &__description {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .services-tab {

    &__nav-list {
      flex-direction: row;
      justify-content: center;
    }

    &__nav-list:after {
      display: none;
    }

    &__nav-item {
      width: auto;
      padding: 10px 20px;
      font-size: 16px;
    }

    &__list {
      margin: 0 auto;
    }

    &__item {
      padding: 0;
      text-align: center;
    }

    &__item br {
      display: none;
    }

    &__item:before {
      display: none;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 0;
    }

    &__description {
      line-height: 20px;
      margin-bottom: 10px;
    }

    &__btn {
      margin: 0 auto;
      padding: 5px 15px;
    }
  }
}
